[2016-06-30 02:09] cabelotaina opened #1 "Adicionar logo via customizer"
Iniciei o processo, o customizer apresenta a posibilidade de fazer upload do logo, mas o logo não aparece no cabeçalho.

Para testar usei o seguinte código no debug-bar-console:

var_dump(get_theme_mods());
var_dump( get_theme_mod( 'aspta_sage_upload_logo' ));

fonte: https://codex.wordpress.org/Theme_Customization_API

arquivos:

templates/hearder.php - display logo
functions.php - configure cust

[2016-06-30 02:10] cabelotaina opened #2 "configurar bootstrap no sage"
Ver porque o css do bootstrap não esta aparecendo no sage.

suspeito que o problema esteja no gulp que esta dando erro. Ultimo teste que fiz foi reinstalar todos os pacotes via npm install na pasta do projeto aspta_sage.

[2016-06-30 02:11] cabelotaina opened #3 "iniciar dev da home"
a home ainda esta parada seria legal começar a subir o html e backend dela.

[2016-06-30 02:13] cabelotaina opened #4 "continuar o dev da página de biblioteca"
usando ajax desenvolver um mecanismo de busca. Fazer com que os conteudos sejam carregados na página atual, se o tempo não permitir fazer recarregando a página.

[2016-06-30 02:15] cabelotaina opened #5 "escrever o footer"
colocar as informações necessárias ( de acordo com o layout) no footer, @jacsonp sugeriu usar os widgets

[2016-06-30 02:16] cabelotaina opened #6 "menu drop down"
Criar um menu drop down

[2016-06-30 02:17] cabelotaina opened #7 "criar um carrousel"
Criar um carrouseu na página principal, com 4 imagens, titulos, categorias, checar se a info é de noticia mesmo.

checar se a página lista corresponde a todas as noticias ou se é um modelo de lista genérico que pode ser usado em qualquer página.

[2016-06-30 02:25] cabelotaina opened #8 "fazer o css para a página bibliotecas"
instalar este tema.
criar um tema usando bootstrap
para ver a página basta criar uma página com nome biblioteca vázia usando o template biblioteca
e acessar via http://url_do_site/biblioteca
o arquivo para editar esta em templates/library.php

[2016-06-30 02:29] cabelotaina opened #9 "fazer o css do cabeçalho"
o arquivo para edição esta em templates/header.php

[2016-06-30 02:33] cabelotaina opened #10 "refatorar library.php"
o arquivo templates/library.php esta com muito código o correto é tranformar parte do código que esta lá em funções, elas devem ir para functions.php e serem chamadas no arquivo templates/library.php

[2016-06-30 09:03] cabelotaina opened #11 "criar novo conteudo para revista (plugin)"
Para resolver o problema de desenvolvimento de um plugin para a revista podemos criar 3 coisas:
- pagina que a talita fez para cada edição da revista
- novo conteudo revista composto de (imagem de capa, 3 imagens de destaque, pdf, edição e ano e editorial)
- novo conteudo artigo que deve estar vinculado a uma revista possuindo (autores, imagem de anexo)
- pensei em algo que permita ordenar os arti

[2016-06-30 22:37] cabelotaina opened #12 "adicionar links do blog pratos limpos na sidebar"

[2016-07-01 02:32] #12 closed, assigned to nobody

[2016-07-01 02:39] cabelotaina commented on #2
O boostrap apareceu ao final graças ao link que o @jacsonp  encontrou:
https://oikos.digital/2015/11/getting-started-sage-bootstrap/

[2016-07-01 02:40] #2 closed, assigned to nobody

[2016-07-01 02:41] cabelotaina opened #13 "Inserir link dos logos dos parceiros na sidebar"

[2016-07-01 03:07] cabelotaina opened #14 "criar página de edições anteriores"

[2016-07-01 03:21] cabelotaina opened #15 "Colocar transparência nas imagens da página de edições anteriores da revista"
Este link mostra alguns exemplos de como deve ficar:

http://www.w3schools.com/css/css_image_transparency.asp

[2016-07-01 11:04] #14 closed, assigned to nobody

[2016-07-01 11:04] #3 closed, assigned to jacsonp

[2016-07-01 11:07] cabelotaina opened #16 "fazer css da home"

[2016-07-01 11:08] #7 closed, assigned to nobody

[2016-07-01 11:10] cabelotaina opened #17 "fazer css das edições anteriores"
ficar atento a transparencia das imagens ver issue #15

estamos pensando em usar isso aqui:

http://masonry.desandro.com/

[2016-07-20 06:58] rodineicosta commented on #16
**CSS da Home** iniciada, com layout responsivo e arquivos adicionados em novo _Branch_ (ws-astpa) para testes. Segue anexo print do projeto em _localhost_.
![aspta_home](https://cloud.githubusercontent.com/assets/15682777/16977700/1a553ad8-4e2e-11e6-9e77-441fb1a57987.jpeg)

[2016-07-20 07:02] rodineicosta commented on #9
**CSS do Header** adicionado na totalidade do projeto _CSS da Home (#89a5b93)_. Novo template criado, **header.php** na pasta raiz do Tema. O _logotipo_ é inserido manualmente através do painel de administração do WP.

[2016-07-20 07:05] rodineicosta commented on #1
Na nova proposta adicionada (_branch: wp-aspta_) o **logotipo** é inserido manualmente através do painel de administração do WP.

[2016-07-20 07:08] rodineicosta commented on #5
Sugiro a criação de **Opções do Tema** para a inserção das informações, logotipo, ícones das redes sociais e a criação de menu de rodapé, para que tudo possa ser inserido através do painel de administração do WP.

[2016-07-20 07:11] rodineicosta commented on #6
**Menu dropdown responsivo** criado e adicionado na totalidade do projeto _CSS da Home (#89a5b93)_.

[2016-07-25 09:07] rodineicosta commented on #16
**CSS da Home** alterada _código de funções reorganizado_ e demais arquivos de templates, fontes, imagens e estilos, reorganizados na pasta _/assets_ no _Branch (ws-astpa)_ para testes.

[2016-07-30 03:20] rodineicosta commented on #16
**CSS da Home** alterada com slideshow em funcionamento e publicações em destaque com as referidas imagens destacadas, sendo adicionada a imagem padrão para _"no-thumbnail"_ no _Branch (master)_ para testes.

![aspta-home](https://cloud.githubusercontent.com/assets/15682777/17267831/b3608b1a-55ea-11e6-97c0-422aec0522ad.png)

[2016-11-23 14:06] jpmehl opened #18 "Traduzir mensagem de sucesso no contato"
Precisa traduzir a mensagem de sucesso da página de contato:

Thank you for your message. It has been sent.

O texto deve ser: Sua mensagem foi enviada com sucesso. A gente te responde em breve.

[2016-11-23 14:10] jpmehl opened #19 "Menu inferior encavalando"
O menu inferior do site está encavalado conforme imagem abaixo
![menu-inferior-aspta-encavalado](https://cloud.githubusercontent.com/assets/4163139/20564753/c9602aa6-b175-11e6-836c-699adfe93343.png)

[2016-11-23 14:21] jpmehl opened #20 "Biblioteca interna - Tipos de materiais desalinhado"
Na página interna da biblioteca, quando já fizemos uma primeira seleção de itens para busca, a primeira parte sobre "Tipos de materiais" as opções estão desalinhadas em relação ao checkbox conforme imagem abaixo:

![biblioteca-aspta-interna-tiposdemateriais-desalinhado](https://cloud.githubusercontent.com/assets/4163139/20565101/4a31bc0c-b177-11e6-8aee-7dd4c63dda79.png)

[2016-11-23 14:28] jpmehl opened #21 "Busca-categoria está sem estilo"
É preciso fazer o estilo da busca.
Testei clicando na capa diretamente em uma categoria e abriu esta página da imagem abaixo, testei com as categorias notícias e experiencias e a página ficou assim:
![busca-categoria-sem-estilo](https://cloud.githubusercontent.com/assets/4163139/20565303/32ca28d2-b178-11e6-89b7-f5d6bd70e8ee.png)

[2016-11-23 14:30] jpmehl opened #22 "Busca biblioteca com imagem não redimensiona"
Percebi que se o post não tem imagem fica uma padão bem formatada, no entanto, nesta busca que eu fiz na biblioteca com o "Tipo de material" seleção "experiência" e que tinha uma imagem destacada, ela se sobrepõe ao texto. é preciso acertar isto, conforme imagem abaixo:

![busca-biblioteca-resultado com imagem nao reduz](https://cloud.githubusercontent.com/assets/4163139/20565390/8a3f3788-b178-11e

[2016-11-23 14:32] jpmehl opened #23 "Notícias relacionadas: não está puxando"
Conforme pode ser visto na imagem abaixo, em qualquer pesquisa que se faça, mesmo em posts que tem várias notícias relacionadas, estas não estão sendo puxadas:

![noticias-relacionadas-nao-esta-puxando](https://cloud.githubusercontent.com/assets/4163139/20565511/f1d0b46c-b178-11e6-90a6-790b0d6619b7.png)

[2016-11-23 14:34] jpmehl opened #24 "Botões de compartilhamento não funcionam"
Os botões para compartilhar uma noítcia nao estão funcionando, conforme pode ser visto neste linque: http://aspta.beta.redelivre.org.br/2016/06/27/lei-de-sementes-nicaragua/ e ilustrada na imagem abaixo:

![botoes-compartilhamento-nao-funcionam](https://cloud.githubusercontent.com/assets/4163139/20565562/2d2327a2-b179-11e6-8d5c-e6ad1ebf7852.png)

[2016-11-23 14:39] jpmehl opened #25 "Página Quem somos desconfigurada"
A página "Quem somos" precisa ser desenvolvida, todas as orientaçòes estão no linque: http://aspta.beta.redelivre.org.br/quem-somos/

[2016-11-23 15:56] anapaulabrasa opened #26 "Uniformizar a listagem de posts"
Sugiro reproduzir o estilo da lista de Notícias (http://aspta.beta.redelivre.org.br/noticias/) em listas de posts (demais categorias) e em resultados de busca (exemplo: http://aspta.beta.redelivre.org.br/?s=borborema).

O estilo da página Notícias está bastante organizado com a informações de post, mantendo o alinhamento de imagem e texto.

[2016-11-23 16:53] anapaulabrasa commented on #26
Verifiquei que existem issues muito parecidas já registradas. Vou fechar esta e dar uma contribuição com comentários nestas outras.

[2016-11-23 16:53] #26 closed, assigned to nobody

[2016-11-23 16:54] anapaulabrasa commented on #21
Sugiro reproduzir o estilo da lista de Notícias (http://aspta.beta.redelivre.org.br/noticias/) em listas de posts (demais categorias) e em resultados de busca (exemplo: http://aspta.beta.redelivre.org.br/?s=borborema).

O estilo da página Notícias está bastante organizado com a informações de post, mantendo o alinhamento de imagem e texto.

[2016-11-23 18:17] anapaulabrasa opened #27 "Organizar menu, conforme proposta da Adriana"
@thalitasejanes

A partir do Menu:

1-      Quem somos
Vamos manter todos os itens que já estão no ar:
a-      Conselho administrativo
b-      Equipe Executiva
c-       Agências Parceiras (Esse item é = Apoiadores, manteremos como está. Queremos aqui diferenciar Apoiadores Atuais | Já apoiou a AS-PTA)
d-      Planos Trienais
e-      Relatórios de Atividades
f-       Estatutos e Atas
g-      Demons

[2016-11-23 18:25] anapaulabrasa opened #28 "Criar modelo da página com ícones/imagens"
@thalitasejanes

para a página Temas de intervenção

[2016-11-23 18:33] anapaulabrasa opened #29 "Revisar biblioteca"
@cabelotaina

Rever itens, conforme considerações por e-mail, corrigir títulos sem acentuação

[2016-11-23 18:34] anapaulabrasa opened #30 "Página Campanha Transgênicos está quebrada"
@thalitasejanes

Esta página será uma lista de ícones/imagens que necessita de desenho.

[2016-11-23 18:36] anapaulabrasa opened #31 "CSS para a página de resultados da busca"
@rodineicosta

[2016-12-06 02:38] rodineicosta commented on #24
O plugin de compartilhamento a ser utilizado precisa ser definido.

[2016-12-06 02:59] rodineicosta commented on #18
Traduzida nas configurações do plugin de formulário, essa e demais frases.

[2016-12-06 06:51] rodineicosta commented on #31
Feito.

[2016-12-06 06:53] rodineicosta commented on #21
Feito. Porém, ainda é necessário formatar a paginação no fim da página.

[2016-12-06 06:53] rodineicosta commented on #20
Itens realinhados.

[2016-12-06 15:25] jacsonp commented on #24
Não rola fazer igual ao guarani?

[2016-12-08 04:07] rodineicosta commented on #23
Nesse caso, usaremos plugin ou vamos codar no braço?

[2016-12-08 04:08] rodineicosta commented on #22
Feito.

[2016-12-08 05:00] rodineicosta commented on #25
Feito.

[2016-12-10 01:50] rodineicosta commented on #23
Feito, no braço.

[2016-12-10 02:58] rodineicosta commented on #24
Botões de compartilhamento para facebook e Google Plus em funcionamento. Não encontrei informações sobre botão de compartilhamento para YouTube, apenas para inscrição em Canal. Sugiro alterar para outra rede social.

[2016-12-10 03:44] #20 closed, assigned to nobody

[2016-12-10 03:45] #22 closed, assigned to nobody

[2016-12-10 03:46] #23 closed, assigned to nobody

[2016-12-10 03:46] #18 closed, assigned to nobody

[2016-12-10 03:52] rodineicosta commented on #25
Falta definir se o código será inserido por sidebar, widget ou direto na página conforme iniciado.
Os botões ainda não foram linkados.

[2016-12-10 04:22] rodineicosta commented on #19
@thalitasejanes e @cabelotaina, precisamos definir o layout do rodapé.

[2016-12-10 17:36] #13 closed, assigned to cabelotaina

[2016-12-10 18:35] cabelotaina commented on #21
Por enquanto colocamos um sistema de paginação sem numeros apenas com um link que permite ver as mais antigas, por conta de que não entedemos como fazer a paginção nas paginas de tags.

[2016-12-10 18:36] #4 closed, assigned to nobody

[2016-12-10 18:38] rodineicosta commented on #21
Testei agora e a paginação numerada está funcionando. Não sei exatamente o que houve quando testei anteriormente. Encerrarmos essa Issue.

[2016-12-10 18:39] cabelotaina commented on #21
@rodineicosta legal demais

[2016-12-10 19:14] #31 closed, assigned to rodineicosta

[2016-12-10 19:15] #1 closed, assigned to nobody

[2016-12-10 19:16] #6 closed, assigned to nobody

[2016-12-10 19:19] #8 closed, assigned to rodineicosta

[2016-12-10 19:20] #9 closed, assigned to rodineicosta

[2016-12-10 19:21] #11 closed, assigned to cabelotaina

[2016-12-10 19:21] #10 closed, assigned to nobody

[2016-12-10 19:31] cabelotaina commented on #24
@thalitasejanes faça um botao do twitter.

[2016-12-10 22:52] thalitasejanes commented on #28
Tela com ícones
![temas-de-intervencao_novo](https://cloud.githubusercontent.com/assets/4115304/21076738/777e1b50-bf1a-11e6-8362-9cbb4ac694ef.png)

[2016-12-10 22:53] thalitasejanes commented on #28
ícones em png
![icons](https://cloud.githubusercontent.com/assets/4115304/21076749/a38a0592-bf1a-11e6-8080-80eac8e6d0cb.png)

[2016-12-10 22:55] cabelotaina commented on #28
Ficou lindão

[2016-12-11 00:21] thalitasejanes commented on #30
![campanha](https://cloud.githubusercontent.com/assets/4115304/21106116/f69b1bae-c073-11e6-8649-1ea8475506eb.png)

[2016-12-11 00:21] thalitasejanes commented on #30
![icons2](https://cloud.githubusercontent.com/assets/4115304/21077122/f72b5488-bf26-11e6-97f5-bb81de921c48.png)

[2016-12-11 04:51] rodineicosta commented on #5
Feito, reduzindo o tamanho da primeira coluna e aumentando o tamanho da segundo, inserindo link para a home na logo e utilizando apenas um widget aproveitando o menu principal para ser exibido no rodapé.

[2016-12-11 04:51] #5 closed, assigned to rodineicosta

[2016-12-11 04:53] rodineicosta commented on #19
Menu de rodapé sendo exibido, conforme o projeto visual original.

[2016-12-11 04:53] #19 closed, assigned to rodineicosta

[2016-12-11 05:08] rodineicosta commented on #27
Algumas considerações devem ser observadas quanto à disposição do menu e seus submenus;

Ocorre que, para melhor experiência de usuário, submenus não podem ser ativados com o posicionamento do ponteiro do mouse sobre o mesmo, pelo comportamento em dispositivos móveis. Do mesmo modo que o código utilizado (_Nav Walker Menu Bootstrap_) assume o link "#" desativado para o item superior quando existem

[2016-12-11 05:28] #21 closed, assigned to rodineicosta

[2016-12-12 05:02] rodineicosta commented on #28
Feito.

[2016-12-12 05:02] #28 closed, assigned to thalitasejanes

[2016-12-12 16:37] thalitasejanes commented on #24
![twitter](https://cloud.githubusercontent.com/assets/4115304/21107351/89a2423e-c078-11e6-9012-d7576013168c.png)

[2016-12-12 17:49] anapaulabrasa commented on #24
mas nada a ver botão de compartilhamento do Youtube, né? Ele cai e entra o Tweeter, é isso?

[2016-12-12 17:52] anapaulabrasa opened #32 "Captcha não funciona"
Nos comentários não tá rolando o captcha

![captchacomments](https://cloud.githubusercontent.com/assets/2422926/21110080/ff1ac9aa-c082-11e6-8e4f-8b0a8e9679fd.png)

[2016-12-12 19:24] thalitasejanes commented on #27
Pessoal esses submenus são nas páginas na sidebar de cada uma, não no menu principal.

[2016-12-13 15:34] thalitasejanes opened #33 "Corrigir rede sociais do footer"
Deixar todos em branco e adicionar Vimeo e Twitter em anexo @rodineicosta

![icon-twitter](https://cloud.githubusercontent.com/assets/4115304/21146441/ca7761b6-c138-11e6-9785-a0de93b815f4.png)
![icon-vimeo](https://cloud.githubusercontent.com/assets/4115304/21146442/ca7a6424-c138-11e6-8097-1534fd63b7b6.png)

[2016-12-13 17:46] thalitasejanes opened #34 "Padronizar Sidebar do site"
modelo padrão de sidebar,

destaco que as páginas **PROGRAMAS e CAMPANHA** tem os seus ultimos posts especifícos

![sidebar](https://cloud.githubusercontent.com/assets/4115304/21151127/854a21ae-c148-11e6-8eb1-e2dc4fd078e1.png)

[2016-12-13 18:47] thalitasejanes opened #35 "Atualizar marca header"
Arquivo para a atualização
![logo-aspta-header](https://cloud.githubusercontent.com/assets/4115304/21153952/d5454188-c153-11e6-9832-cf04ce6011d6.png)

[2016-12-13 18:51] thalitasejanes commented on #34
@cabelotaina @rodineicosta o ícone da revista é o enviado no plugin issueM ao cadastrar uma revista nova, o mesmo que aparece na capa. ele vai mudar todo mês, conforme o usuario colocar uma nova revista atual.

[2016-12-13 19:16] rodineicosta commented on #35
Feito!

[2016-12-13 19:16] #35 closed, assigned to nobody

[2016-12-13 19:16] rodineicosta commented on #24
Feito!

[2016-12-13 19:16] #24 closed, assigned to thalitasejanes

[2016-12-13 20:54] #27 closed, assigned to rodineicosta

[2016-12-13 20:55] #25 closed, assigned to rodineicosta

[2016-12-14 00:29] rodineicosta commented on #30
Feito!

[2016-12-14 00:29] #30 closed, assigned to cabelotaina, thalitasejanes, rodineicosta

[2016-12-14 00:30] rodineicosta commented on #34
@cabelotaina algumas páginas precisam ter as sidebars definidas. A partir daí, é posicionamento no painel de controle de widgtes.

[2016-12-14 00:31] rodineicosta commented on #32
@cabelotaina, token é contigo ou com @jacsonp?

[2016-12-14 00:37] rodineicosta commented on #17
Há dois modelos de páginas destinadas a esse item do projeto. Qual das duas utilizar?
Seguem os anexos.

[2016-12-14 00:38] rodineicosta commented on #17
![revista-edicoes-anteiores](https://cloud.githubusercontent.com/assets/15682777/21165151/b877c5fe-c184-11e6-8cb4-7c522f3c3501.png)

[2016-12-14 00:40] rodineicosta commented on #17
![revista-edicoes-anteiores 1](https://cloud.githubusercontent.com/assets/15682777/21165171/e4d66df8-c184-11e6-8fa9-1f96933b9833.png)

[2016-12-14 01:24] cabelotaina commented on #32
uai o @jacsonp tem mais a manha mas nao sei como ele esta de tempo?

[2016-12-14 03:37] rodineicosta commented on #33
Feito!

[2016-12-14 03:37] #33 closed, assigned to rodineicosta

[2016-12-14 03:37] #16 closed, assigned to rodineicosta

[2016-12-14 03:40] jacsonp commented on #32
Permissões da pasta cache e temp dentro do plugin foram alteradas pelo jenkins, corrigido no beta.

[2016-12-14 03:40] #32 closed, assigned to cabelotaina, jacsonp

[2016-12-14 03:43] jacsonp commented on #34
Podemos usar templates com sidebars diferenciadas ou selecionar a side na página (http://gabrieleromanato.name/wordpress-let-users-choose-their-sidebar-on-posts-and-pages-with-custom-values)

[2016-12-16 03:08] rodineicosta opened #36 "Programas Locais não aparecem listados na Home Page"
A sessão "Programas Locais" na Home Page não lista os três programas conforme o projeto original. É preciso rever o código.

[2016-12-16 03:10] rodineicosta opened #37 "Os links da sessão Campanha precisam ser revistos"
Os links nos banners da sessão "Campanha" estão redirecionando para os Programas Locais.

[2016-12-16 03:13] rodineicosta commented on #17
Preciso de ajuda para que o plugin IssueM funcione na minha instalação local, para que eu possa terminar a codificação do layout dessa página.

[2016-12-17 18:18] cabelotaina commented on #36
Alguém consegue descrever exatamente o que deve estar lá? @thalitasejanes @rodineicosta ?

[2016-12-17 18:27] thalitasejanes commented on #36
São três programas locais e aparecem 2 na home apenas, precisa olhar no layout, estou apenas no celular agora, mas olhando na Aspta.org.br que está no ar é possível ver os programas.

[2016-12-17 18:30] thalitasejanes commented on #36
No footer estão os programas

[2016-12-17 19:05] rodineicosta commented on #36
Segue o projeto original da Home:
![home](https://cloud.githubusercontent.com/assets/15682777/21289084/b80a1e98-c47a-11e6-9dbc-72e71ad27fce.png)

[2016-12-17 19:46] cabelotaina commented on #17
acredito que seja este aqui https://github.com/redelivre/aspta_sage/issues/17#issuecomment-266907632 - a segunda imagem que vc anexou.

[2016-12-17 19:48] cabelotaina commented on #29
Onde consigo este email?

[2016-12-18 01:58] jacsonp commented on #17
Ajuda com IssueM/Redelivre realizada

[2016-12-19 19:41] rodineicosta commented on #15
Feito!

[2016-12-19 19:41] #15 closed, assigned to rodineicosta

[2016-12-19 19:43] rodineicosta commented on #17
Feito! Porém, a proporção do tamanho das imagens em miniatura são definidas na configuração do plugin, onde as mesmas necessitam passar por regeneração após alteração através de outro plugin indicado pelo IssueM nessa mesma página.

[2016-12-20 03:07] #36 closed, assigned to cabelotaina

[2016-12-20 03:13] cabelotaina commented on #37
Não sei o que fazer pois o texto encontrado nas páginas trata do tema que aparece na imagem. Realmente a @thalitasejanes teria que ver isso para a gente.

[2016-12-20 03:14] cabelotaina commented on #34
Esperando modificações do @rodineicosta e revisão da @thalitasejanes

[2016-12-20 03:15] cabelotaina commented on #17
@rodineicosta essa issue já pode ser fechada? Tem algo que eu posso ajudar?

[2016-12-20 04:22] rodineicosta commented on #17
@cabelotaina, como eu disse anteriormente, para que as imagens fiquem da forma do projeto original, devem ser configuradas no painel de controle e regeneradas através de um plugin indicado na página de configurações. Devemos definir se ficam no tamanho que está no momento ou se instalamos esse novo plugin para aumenta-las. Daí, podemos fechar.

[2016-12-20 04:25] rodineicosta commented on #29
@cabelotaina, acredito que @anapaulabrasa se refere ao texto que encontra-se no fim do documento "Refino do Site", no Google Docs.

[2016-12-20 09:24] thalitasejanes commented on #37
**polo da borborema** : https://www.facebook.com/polodaborborema/?fref=ts

**coletivo triunfo**: https://www.facebook.com/ColetivoTriunfo/?fref=ts

**produtos da gente**: http://aspta.org.br/2014/03/conheca-os-produtos-da-gente/

[2016-12-20 10:40] #37 closed, assigned to thalitasejanes

[2016-12-20 11:12] thalitasejanes opened #38 "Inserir whatsapp no compartilhamento de notícias"
Comentário encaminhado pela Adriana ASP-TA
- botões de compartilhar - incluir whatsapp
envio abaixo os botões corrigidos no tamanho e com whatsapp

![twitter-share](https://cloud.githubusercontent.com/assets/4115304/21348452/65651c3a-c694-11e6-95e7-2e792093f414.png)
![google-share](https://cloud.githubusercontent.com/assets/4115304/21348449/65610906-c694-11e6-9b0e-80670c3d9faf.png)
![whats-share](

[2016-12-20 11:14] thalitasejanes opened #39 "Imagem do slider distorcida"
Temos alguma idéia de como resolver a questão das imagens?

[2016-12-20 11:23] thalitasejanes opened #40 "(Painel wp) Edição da página contato"
A cliente solicitou uma correção na edição do texto, mas no editor ao fazer a edição o texto quebra conforme a imagem anexa.

é necessário que o código fique em uma linha e o texto na linha seguinte ao invés de criar uma coluna ao lado na edição.
![erro-contato](https://cloud.githubusercontent.com/assets/4115304/21348816/fed130f6-c695-11e6-9f31-5ddf22c0b0ec.png)

[2016-12-20 11:28] cabelotaina commented on #40
veja se é isto?

http://aspta.beta.redelivre.org.br/falecomagente/

[2016-12-20 11:30] thalitasejanes commented on #40
Mmmm, então, o ideal seria que na página do site ela mantivesse as colunas, apenas na edição que não, muito complicado isso? @cabelotaina

[2016-12-20 11:35] thalitasejanes opened #41 "Datas da lista de boletim (itens de campanha)"
Os itens da campanha são cadastrados todos com a data e o padrão de listas é mostrar a data, seria possível esconder a data apenas nesta listagem?

endereço da lista: http://aspta.beta.redelivre.org.br/itens-de-campanha/boletim/

[2016-12-20 11:37] thalitasejanes opened #42 "Textos com imagem ausente"
Algumas páginas estão gerando um espaço de imagem ausente na página como o exemplo: http://aspta.beta.redelivre.org.br/campanha/681-2/

[2016-12-20 11:39] thalitasejanes opened #43 "Temas de intervenção páginas não encontradas"
erro ao carregar as seguintes telas - construção do conhecimento, financiamento, manejo da água, manejo ecológico dos solos, monitoramento da transição, mulheres, saúde e alimentação

[2016-12-20 11:54] cabelotaina commented on #40
Então voltei ao que estava, acho que neste caso o jeito é vizualizar como texto apenas.

[2016-12-20 11:55] #40 closed, assigned to nobody

[2016-12-20 11:57] cabelotaina commented on #43
Os links estão errados.

http://aspta.beta.redelivre.org.br/temas-de-intervencao/acesso-a-mercados/

vou terminar o café da manha e vejo isso.

[2016-12-20 11:57] thalitasejanes opened #44 "Plugin instant article"
A cliente solicitou a ativação do plugin instant articles pela pesquisa cheguei nesse aqui, pelo que entendi funciona para otimizar a leitura através do facebook:
https://br.wordpress.org/plugins/fb-instant-articles/

[2016-12-20 12:19] #43 closed, assigned to nobody

[2016-12-20 12:23] thalitasejanes opened #45 "Atualizar rodapé Redes e Parcerias"
As três ultimas marcas da seçao **Redes e Parcerias** na Capa do site

ANA, Agricultures e ASA para atualização.

![rede-agriculturas](https://cloud.githubusercontent.com/assets/4115304/21350397/404e261c-c69e-11e6-9672-dfbb7377dd3d.jpg)
![asa brasil_horizontal_nova](https://cloud.githubusercontent.com/assets/4115304/21350399/405000fe-c69e-11e6-9b0e-e3774ca858ee.jpg)
![ana](https://cloud.githubuser

[2016-12-20 12:32] cabelotaina commented on #43
@thalitasejanes acho que trangênicos não existe, veja a lista com todos os temas de intervenção. Falta apenas ele. Veja com o pessoal da ASPTA se esse seria um tema novo ou se ele existia antes na revista ... qual nome teria:

http://aspta.beta.redelivre.org.br/wp-admin/edit-tags.php?taxonomy=temas-de-intervencao&post_type=campanha&s

[2016-12-20 12:38] cabelotaina commented on #42
Tem duas saidas uma é eles definirem uma imagem destacada para cada um dos artigos que eles tem no sistema, pois apenas os que possuem imagem destacada que aparecem imagem nessa area.

Outra é a gente colocar uma imagem com o logo da aspta quando não houver imagem.

Gosto da primeira pois deixa um site bonito e esteticamente agradavel sem repetição de imagens.

Coloquei uma imagem de exemplo para

[2016-12-20 12:46] thalitasejanes commented on #34
sobre a sidebar coloquei os linques da página atual que é a referência

as páginas que  contam com sub menu interno: [Quem somos](http://aspta.org.br/revista-agriculturas/), [Programas](http://aspta.org.br/programas/), [itens da Campanha](http://aspta.org.br/itens-de-campanha/materiais-de-campanha/) e [Revista](http://aspta.org.br/revista-agriculturas/).

as páginas que mostram o widget útimos pos

[2016-12-20 12:50] cabelotaina commented on #44
@jacsonp teria como ativar isso dei uma analisada e parece útil para jornais, revistas e blogueiros.

@thalitasejanes neste artigo tem alguns pontos a fovor e outros contra. Veja se eles já conhecem os pontos contra. Acho legal.

[2016-12-20 12:52] cabelotaina commented on #41
Acredito que o @rodineicosta consegue esconder a data com css, mas vale a consulta o que mano?

[2016-12-20 12:56] cabelotaina commented on #39
Acredito que o pessoal da aspta teria que inserir as imagens no tamanho exato e com o recorte especifico para esta area do site.
É muito comum esse tipo de escolha o facebbok define o tamanho do banner, o youtube pede uma imagem especifica, sempre o tamanho deve ser seguido a risca para uma melhor esperiencia do usuário.

[2016-12-20 13:21] cabelotaina commented on #38
Estou inserindo a lógica, @thalitasejanes vamos usar esses botões que estão na imagem acima mesmo ou você vai enviar novos, @rodineicosta quando eu terminar e @thalitasejanes responder ai tu arruma o código para ficar linão.

[2016-12-20 13:23] cabelotaina commented on #38
Galera coloquei um botão do whats mas com uma imagem do twitter e eles continuam na horizontal, essa bronca é do @rodineicosta

[2016-12-20 13:24] cabelotaina commented on #29
Em poucos minutos começando a revisão disso aqui.

[2016-12-20 13:27] cabelotaina commented on #38
Para ver que o botão tosco esta lá e funciona é necessario usar celular, não funciona este recurso no browser. Alguém sabe fazer para navegador e abrir no whatsapp web :smile:

[2016-12-20 13:33] thalitasejanes opened #46 "Programas locais na Home"
Os programas locais estão funcionando corretamente mas a lista de programas ficou muito grande em relação a seção eu fiz uma proposta aqui utilizando o firebug, diminui as fonte e retirei os botões de saiba mais, assim o título fica o link (no desenho o proograma contestado sinaliza a cor laranja para hover)

o player de vídeo e o ícone da revista devem ser centralizados horizontamente para se enc

[2016-12-20 13:36] cabelotaina commented on #46
Legal o @rodineicosta já estava acompanhando mas com isso acho que vai ser mais tranquilo para ele.

[2016-12-20 13:38] thalitasejanes opened #47 "Página do Programa"
As páginas do programa vão direto para a lista de últimas postagens do programa, cada programa deve ter uma página de apresentação com as últimas postagens na sidebar conforme o site atual:

[ Paraíba](http://aspta.org.br/programas/programa-paraiba/)

[Agricultura Urbana ](http://aspta.org.br/programas/programa-de-agricultura-urbana/)

[Contestado](http://aspta.org.br/programas/programa-do-contest

[2016-12-20 13:45] thalitasejanes commented on #46
no desenho acima, a fonte do título esta em 18px e do texto em 12px com entrelinhas de 12px também.

[2016-12-20 13:50] cabelotaina commented on #47
@thalitasejanes veja isso com eles se pode ser assim ou deve ser do jeito antigo. Acho uma boa pois o link é exatamente o mesmo. Eu vou ver se essa páginas existe em algum lugar.

[2016-12-20 14:00] thalitasejanes commented on #47
deve ser do jeito antigo mesmo

[2016-12-20 14:01] thalitasejanes commented on #42
Quando não tem imagens não seria possível ser apenas o texto? acho que seria a opção ideal

[2016-12-20 14:04] cabelotaina commented on #47
Sendo assim vamos precisar de um desenho do icones que estão na lateral bem como uma revisão desta página. você tem como preparar isso, no total são 4 templates as páginas mencionadas acima e esta:

http://aspta.org.br/programas/

[2016-12-20 14:06] thalitasejanes commented on #43
Trangênicos é uma página nova sim, deve ser inserida também na biblioteca.

[2016-12-20 14:14] cabelotaina commented on #29
Eu li o email e não existe uma descrição de problemas com erros ortograficos, vou fechar essa issue, se houver mais infos favor reabrir e colocar aqui.

[2016-12-20 14:14] #29 closed, assigned to cabelotaina

[2016-12-20 14:15] thalitasejanes commented on #38
atentem que eu corrigi o tamanho de todos os botões

[2016-12-20 14:15] cabelotaina commented on #42
vou ver o que consigo fazer

[2016-12-20 14:24] #42 closed, assigned to cabelotaina, rodineicosta

[2016-12-20 14:31] cabelotaina commented on #38
Mas é deste print que o @rodineicosta tem que tirar os botões certo?

[2016-12-20 14:33] cabelotaina commented on #43
Pronto agora ela consta na bibloteca:

http://aspta.beta.redelivre.org.br/temas-de-intervencao/transgenicos/

ps.: note que o erro que aparece em cima é contribua

[2016-12-20 14:51] thalitasejanes opened #48 "Paginação do site"
Neste layout (ao final da lista) é possível ver o desenho da paginação do site

https://drive.google.com/file/d/0ByEoazNloy3gWlJUOGloRnBFMEU/view?usp=sharing

[2016-12-20 14:56] cabelotaina commented on #48
Falei com o @rodineicosta que isso não esta rolando de fazer. Acho que vai ter que ficar para mais para frente neste momento não achei ainda uma alternativa para este problema, apenas a paginção comum rola com as páginas de lista criadas automaticamente pelo wordpress, Pois não existe um template onde alterar. Quando o template existe ai simm funciona de boa. @jacsonp tem alguma ideia de como pode

[2016-12-20 18:27] thalitasejanes commented on #48
em último caso rola customizar o  que aparece hoje, utilizar mesmo padrão dos botões do site.

[2016-12-20 18:58] rodineicosta commented on #38
Compartilhamento para WhatsApp somente em mobile. O código pode estar ali em telas maiores, porém não irá redirecionar para o WhtsApp Web. Software proprietário é assim mesmo, não temos possibilidades de fazer funcionar como todos gostariam. Dessa forma, proponho que o botão do WhatsApp só apareça em telas mobile. Assim, os botões atuais permanecem como estão e o de compartilhamento para o WhatsAp

[2016-12-20 19:00] rodineicosta commented on #39
Sugiro que as imagens que forem para o slideshow sejam de 1280px de largura, pois a proporção do mesmo é de 1140px de largura por 550px de altura. Vou tentar a centralização automática de imagens no código do WP, para que as imagens menores (como o caso daquela do ônibus) quando redimensionadas centralizem-se no slide.

[2016-12-20 19:03] rodineicosta commented on #41
Se tiver como identificar a página (template ou page), sim é possível personalizar pelo código do próprio WordPress. No mais, a identificação dos elementos nas listas é genérico.

[2016-12-20 19:05] rodineicosta commented on #46
Proponho que a descrição de cada programa seja reduzida a quatro linhas e mantem-se como está.

[2016-12-20 19:07] rodineicosta commented on #47
Os links anteriormente redirecionavam às páginas dos programas.

[2016-12-20 19:09] rodineicosta commented on #48
Mas, em algumas páginas a navegação funciona. Façam uma pesquisa qualquer e verifiquem que funciona da forma proposta.

[2016-12-20 19:10] rodineicosta commented on #48
![image](https://cloud.githubusercontent.com/assets/15682777/21364253/2f50d04c-c6d7-11e6-8895-ef4c201cc26a.png)

[2016-12-20 19:11] thalitasejanes commented on #46
@rodineicosta é uma parte informativa, não dá pra reduzir... tentei o máximo resolver p ficar bonito e informativo. sei que muda o layout, uma adequaçaozinha que te peço!
 que cê acha? eu acho que vai ficar um bom acabamento assim...

[2016-12-20 19:11] thalitasejanes commented on #47
como assim @rodineicosta

[2016-12-20 19:23] rodineicosta commented on #47
Os links, dos botões, redirecionavam para a página dos programas e não para listas de posts dos mesmos.

[2016-12-20 20:08] rodineicosta commented on #39
Tentei o código do WordPress pra centralizar a imagem no slideshow e a imagem mencionada, por ser menor (640px por 434px) quando ajustada automaticamente, fica posicionada a partir do topo e da esquerda e não aparece toda.

[2016-12-20 20:11] thalitasejanes opened #49 "Slider mobile"
O que está previsto para o slider mobile?
 Atualmente não mostra o slider e fica um espaço.

[2016-12-20 21:19] rodineicosta commented on #49
A experiência de slidershow em mobile é ruim. O espaço deve ser pelo motivo de várias alterações posteriores que resultou no espaço residual. Vou retirar o espaço.

[2016-12-20 21:40] thalitasejanes commented on #49
a primeira pag deste pdf tem como ela foi idealizada no layout, encontraremos juntxs uma solução?

https://drive.google.com/file/d/0ByEoazNloy3gaC1XRTNhZnpURUE/view?usp=sharing

[2016-12-20 22:00] rodineicosta commented on #45
Feito!

[2016-12-20 22:00] #45 closed, assigned to rodineicosta

[2016-12-21 00:23] cabelotaina commented on #48
Mas @rodineicosta rola de estilizar os botoes que temos hoje?

[2016-12-21 00:30] cabelotaina commented on #49
Bom temos que encontrar, e eu sugiro que o slide nao entre, um dos motivos é a lista de pontos negativos do plugin do facebook que mostra os conteudos do site em mobile. ele arranca quase tudo e deixa apenas a noticia pelo que eu entendi. Ele otimiza a página para melhorar a experiencia de leitura em apps mobile.

Eu penso sempre em app mobile sem isso pois acho que atrapalha a navegaçao.

[2016-12-22 04:29] rodineicosta commented on #48
@cabelotaina, essa paginação que mostrei acima está funcionando em algumas páginas. Por que não funcionaria em todas? É aquele código que te passei, via Telegram, dia desses.

[2016-12-22 09:36] cabelotaina commented on #48
Pois este tipo de paginação não é a padrão do wp.

Em qui, 22 de dez de 2016 02:29, Rodinei Costa <notifications@github.com>
escreveu:

[2016-12-22 14:12] rodineicosta commented on #49
Enatão, o que decidimos?

[2016-12-22 14:24] jacsonp commented on #49
Normalmente pega apenas a primeira do slide, ou até randômico e fica fixo

[2016-12-22 14:27] jacsonp commented on #44
Esse plugin, em especial, não, dá vários erros e não fui só eu quem teve problemas com ele:
![captura de tela de 2016-12-22 12-25-01](https://cloud.githubusercontent.com/assets/3977652/21428591/e4ffc5ea-c841-11e6-817a-f85b84bec40f.png)

Links das avaliações:
https://wordpress.org/support/plugin/fb-instant-articles/reviews/?filter=1

[2016-12-22 14:31] thalitasejanes commented on #49
Eu desenhei pensando nesta referência https://anistia.org.br/?no-high

Por aqui no meu motorola funciona super bem

[2016-12-22 14:32] thalitasejanes commented on #44
Temos uma contraproposta de outro plugins que cumpre a mesma função e funciona melhor?

[2016-12-22 14:34] jacsonp commented on #44
Teria que testar, tem o do Automattic por exemplo:
https://github.com/Automattic/facebook-instant-articles-wp/

[2016-12-22 14:35] jacsonp commented on #44
@jacsonp não foi o link: https://github.com/Automattic/facebook-instant-articles-wp/

[2016-12-22 15:23] rodineicosta commented on #38
Feito!

[2016-12-22 15:23] #38 closed, assigned to thalitasejanes, rodineicosta

[2016-12-22 15:24] #17 closed, assigned to rodineicosta

[2016-12-22 17:26] rodineicosta commented on #46
@thalitasejanes. Home alterada para o design anteriormente sugerido, com Programas Locais em linha e Vídeo da Semana e Revista Agriculturas abaixo.

O tamanho do vídeo, pode ser alterado através do Widget para 640x360 pixels. O único problema é que alterar no Widget, quando exibido em dispositivos móveis estrapola a tela. Pode-se definir uma alternativa de embedar o vídeo responsivamente, via códi

[2016-12-22 17:28] rodineicosta commented on #46
![image](https://cloud.githubusercontent.com/assets/15682777/21434368/2c81d714-c85b-11e6-9417-e4ed7fea46dd.png)

[2016-12-22 18:21] thalitasejanes commented on #46
Rodi onde vc viu esta disposição?

[2016-12-22 22:39] cabelotaina commented on #47
@thalitasejanes você pode criar esses botões para o novo tema?

![screenshot from 2016-12-22 20-38-43](https://cloud.githubusercontent.com/assets/1827173/21442696/a57e9848-c886-11e6-9df3-9c4b673a0998.png)

[2016-12-23 09:07] cabelotaina commented on #47
Olá pessoal segue as páginas como estão ate o momento:

http://aspta.beta.redelivre.org.br/programa-paraiba/
http://aspta.beta.redelivre.org.br/programa-do-contestado/
http://aspta.beta.redelivre.org.br/programa-de-agricultura-urbana/

vejam que apenas o menu "veja também" foi inserido o outro menu deve ser feito via widget personalizado que esta em desenvolvimento, para isso vou necessitar das im

[2016-12-23 16:04] thalitasejanes commented on #47
podemos fazer o widget que o @cabelotaina falou no padrão de widgets, apenas texto, na biblioteca optamos sem ícones e vamos manter o padrão.
![padrao-widget](https://cloud.githubusercontent.com/assets/4115304/21457732/b16c1846-c918-11e6-857e-ca2e2ce6b36e.png)

[2016-12-23 17:31] cabelotaina commented on #47
Legal, vou implementar isso então não terminei ainda mas de todas as formas podemos fazer mais um menus sem widgets então apenas um menu comum com estilo, e isso vai permitir que eles melhorem os menus como quiserem no futuro, o que acha?

[2016-12-23 19:25] rodineicosta commented on #46
Feito!

[2016-12-23 19:25] #46 closed, assigned to rodineicosta

[2016-12-23 19:55] rodineicosta commented on #47
Menus nas páginas dos programas no formato solicitado.

[2016-12-23 20:58] rodineicosta commented on #49
Feito!

[2016-12-23 20:58] #49 closed, assigned to nobody

[2016-12-24 01:19] rodineicosta commented on #48
Feito!

[2016-12-24 01:19] #48 closed, assigned to rodineicosta

[2016-12-24 01:22] rodineicosta commented on #41
Analisando os boletins, percebi que essas públicações estão com a data descrita no próprio título. Por esse motivo, elas aparcem.

[2016-12-24 01:45] rodineicosta commented on #41
Após meu último comentário que compreendi. Data omitida na página "Boletim" dos Itens de Campanha.

[2016-12-24 01:45] #41 closed, assigned to rodineicosta

[2016-12-24 01:47] rodineicosta commented on #39
Mesmo com o plugin de centralização de imagens ativado no carrossel, as imagens ainda aparecem da mesma forma. Talvez, isso somente se resolva com as imagens atendendo a padrão mínimo de tamanho (1140x550) ou maiores (1280x960).

[2016-12-24 02:38] rodineicosta commented on #47
@cabelotaina não encontrei o arquivo base que monta a página do programa para alterar o HTML e ajustar a sidebar.

[2016-12-24 02:44] rodineicosta commented on #47
@cabelotaina pesquisei mais um pouco e econtrei. Resolvido!

[2016-12-25 19:57] #47 closed, assigned to cabelotaina, thalitasejanes, rodineicosta

[2016-12-25 20:19] cabelotaina commented on #39
Pessoal acho que esta issue pode ser fechada com a ultima resposta do rodi.

[2016-12-25 20:19] #39 closed, assigned to cabelotaina, thalitasejanes

[2017-01-24 17:10] thalitasejanes opened #50 "Título completo de notícias"
![untitled-1](https://cloud.githubusercontent.com/assets/4115304/22258029/1da9075c-e247-11e6-8b2e-ea281412c542.jpg)

[2017-01-24 17:35] thalitasejanes opened #51 "Imagem do slider desproporcional"
A imagem do slider da home aparece ainda desproporcional.

[2017-02-03 12:48] anapaulabrasa commented on #34
Compartilhando aqui as páginas de Programas e de Campanha que devem apresentar o widget lateral de posts recentes específicos.

PROGRAMAS - págs que devem conter o widget "Últimas deste Programa":

- [Programa Paraíba](http://aspta.beta.redelivre.org.br/programa-paraiba)
- [Programa de Agricultura Urbana](http://aspta.beta.redelivre.org.br/programa-de-agricultura-urbana)
- [Programa do Contestado]

[2017-02-03 17:15] thalitasejanes opened #52 "Refino design - alinhamento entre títulos e sidebar"
Os títulos das páginas e etc, devem estar alinhados com o título dos widgets, como esta atualmente causa um desconforto.
![alinhamento](https://cloud.githubusercontent.com/assets/4115304/22600851/91f65086-ea23-11e6-8561-4bef26ecab84.jpg)

[2017-02-03 17:23] thalitasejanes opened #53 "Refino design Título dos widgets"
O título do widget da revista está sem o padrão de design do site.

![titulo-do-widget](https://cloud.githubusercontent.com/assets/4115304/22601107/97a76e06-ea24-11e6-9ac7-85bb9fafeb67.jpg)

[2017-02-11 05:38] rodineicosta commented on #53
Feito!

[2017-02-11 05:38] #53 closed, assigned to nobody

[2017-02-11 05:38] rodineicosta commented on #52
Feito!

[2017-02-11 05:38] #52 closed, assigned to nobody

[2017-02-11 05:39] rodineicosta commented on #50
Feito!

[2017-02-11 05:39] #50 closed, assigned to nobody

[2017-02-14 18:59] anapaulabrasa opened #54 "Slider mostra mais bolinhas do que posts setados"
O slider está mostrando mais marcadores (bolinhas) do que posts (marcados como destaques).

Isso faz com que o slider fique em branco quando chega nessas bolinhas "vazias".

![bolinhas](https://cloud.githubusercontent.com/assets/2422926/22944056/aaa3d14c-f2d6-11e6-9776-9d59dead3e49.png)

[2017-02-14 23:20] #51 closed, assigned to nobody

[2017-02-15 13:46] anapaulabrasa opened #55 "Estilo e Categorização no widget "Tópicos recentes""
@rodineicosta e @cabelotaina, estou visitando cada página e seção do site para padronizar as sidebar conforme a Issue #34

Duas questões relacionadas ao widget "Tópicos recentes" que precisam ser trabalhadas:

**Estilo**
Conforme a Thalita colocou na issue #34, este widget precisa padronizar o estilo como no widget que tá sendo usado pro BLOG PRATOS LIMPOS (widget Posts Cleans Plates AS-PTA):
![wi

[2017-02-15 15:54] anapaulabrasa opened #56 "Arrumar espaçamento e estilo do widget da Revista"
Estou encontrando um erro relacionado ao widget IssueM Active Issue, da Revista Agriculturas. @rodineicosta se essa issue não for tua, marca o Maurilio, porfa

Em um lugar a imagem da capa da revista fica colada na linha superior alaranjada (que separa do título). Em outros lugares fica perfeito, com o devido espaçamento:

 Página [Quem Somos](http://aspta.beta.redelivre.org.br/quem-somos/)
![agri

[2017-02-15 16:30] anapaulabrasa opened #57 "Página Campanha Transg quebrando - sidebar"
Marcando os dois aqui porque não sei de quem é a resolução, @rodineicosta e @cabelotaina

A página [Campanha Transgênicos](http://aspta.beta.redelivre.org.br/campanha-trangenicos/) tá quebrando de modo que a sidebar vai lá pra baixo do rodapé.

![rodapecampanhatransg](https://cloud.githubusercontent.com/assets/2422926/22983988/24618100-f38b-11e6-9798-47b2000dbef4.png)

[2017-02-15 16:52] anapaulabrasa opened #58 "Erro do plugin Contribua na página Transgênicos"
Na página [Transgênicos](http://aspta.beta.redelivre.org.br/temas-de-intervencao/transgenicos/), dos Temas de intervenção, tá rolando um erro que o @cabelotaina atribuiu ao plugin Contribua

Isso seria com o @jacsonp, Maurilio?

![transplugcotr](https://cloud.githubusercontent.com/assets/2422926/22984956/2a5eb8e0-f38e-11e6-878c-c82ded6c2ae3.png)

[2017-02-15 17:11] anapaulabrasa opened #59 "Definir o título da página da revista atual"
@thalitasejanes, veja com a Adriana!

[2017-02-15 17:26] anapaulabrasa opened #60 "Revista: números anteriores inserir apenas PDF"
@cabelotaina
Números anteriores da Revista Agriculturas vão apresentar apenas pdf para baixar.

O numero da Revista entra como titulo do post.

[2017-02-15 17:40] anapaulabrasa opened #61 "Inserção de submenu na sidebar das páginas da Revista"
Cada página do submenu da página Revista Agriculturas deve também ter esse submenu na sidebar

![menurevistas](https://cloud.githubusercontent.com/assets/2422926/22987136/ef505f7c-f394-11e6-8e70-09d4e4136000.png)

[2017-02-15 17:45] anapaulabrasa opened #62 "Inserir botão de assinatura da Revista na home"
@cabelotaina

Na capa, de preferência abaixo da miniatura da Revista, inserir o botão de [assinatura](http://aspta.beta.redelivre.org.br/revista-agriculturas/mobilize/)

[2017-02-15 17:55] anapaulabrasa commented on #52
@rodineicosta mas continuo vendo esse desalinhamento, tipo nesta [página](http://aspta.beta.redelivre.org.br/itens-de-campanha/boletim/)

![itendecampanha](https://cloud.githubusercontent.com/assets/2422926/22987781/183d8048-f397-11e6-85de-831e3683c76f.png)

[2017-02-15 18:00] anapaulabrasa opened #63 "Mobile: plugin pra deixar mais leve o compartilhamento"
Registrando aqui o que o @cabelotaina colocou como comentário do docs.
Maurílio, você solicitou direito com o Jacson pra ele colocar no beta?

Maurilio Santana
17:55 1 de fev
Vou pegar ele e instalar local e ver como fica esse modulo. Espero que role local hehehe.

Maurilio Santana
18:12 1 de fev
Olá pessoal funciona assim, temos que criar um app key e um app id para o app no facebbok ativar oi pl

[2017-02-15 18:08] anapaulabrasa opened #64 "Busca na Biblioteca (sobre a Revista) não funciona"
Na [Biblioteca](http://aspta.beta.redelivre.org.br/biblioteca/), a parte de busca da Revista Agriculturas não está funcionando.

@cabelotaina , fiz o teste apenas com palavra-chave

[2017-02-15 19:02] cabelotaina commented on #64
Sim já consertei isso, sorry

[2017-02-15 19:02] #64 closed, assigned to cabelotaina

[2017-02-15 19:22] cabelotaina commented on #63
Eu adicionari o modulo como o @jacsonp  me disse para fazer, mais uma vez, vamos ver e com esse funcionar pois com o plugin de eventos não rolou. rolando isso posso fazer uma conf fake por principio. Mas precisamos do usuário senha da conta deles para testar e configurar com o original.

Pode pedir para eles e me enviar em privado @thalitasejanes. Basicamente é usuário e senha da conta do aspta no

[2017-02-15 21:13] #44 closed, assigned to jacsonp, thalitasejanes

[2017-02-15 21:14] #34 closed, assigned to thalitasejanes, rodineicosta

[2017-02-15 21:16] cabelotaina commented on #60
Alguém pode tirar os textos? Pois se não vou ter que entrar em cada uma e fazer isso? Como seria a solução hehehehe sorry minha pergunta meio boba...

[2017-02-15 21:22] #59 closed, assigned to nobody

[2017-02-16 01:06] rodineicosta commented on #56
O erro no widget IssueM ocorre quando é inserido e aparece automaticamente com um código HTML no título. Ao substituí-lo pelo título correto "Revista Agriculturas" e salvá-lo o erro desaparece. Acredito ser um bug do próprio plugin.

[2017-02-16 01:57] rodineicosta commented on #57
@cabelotaina essa página não está chamando o _base-gm_campaign.php_ e sim o _base.php_, não consegui descobrir a causa. :-(

[2017-02-16 02:03] rodineicosta commented on #60
@cabelotaina, se forem os mesmos elementos HTML que já existem no modo atual, estão ocultos via CSS, precisando apenas exibir o título. Daí, o título de cada revista deve ser o número, quando publicada. Isso resolve?

[2017-02-16 03:51] rodineicosta commented on #62
Feito!

[2017-02-16 03:54] rodineicosta commented on #55
@cabelotaina, precisamos filtrar as categorias para algumas páginas.

[2017-02-16 03:57] #62 closed, assigned to nobody

[2017-02-16 03:58] #56 closed, assigned to nobody

[2017-02-16 13:23] anapaulabrasa commented on #63
certo. já passei o perfil da adriana pro @cabelotaina. assim q ele add, eu aviso a adriana pra aceitar e adicionar como admin da pagina da ASPTA no face

[2017-02-16 13:27] anapaulabrasa commented on #57
parece que deu certo, né, @rodineicosta ? vc confirma e fecha essa issue? = )

[2017-02-16 13:49] anapaulabrasa commented on #60
Achei que tinha entendido... mas não entendi! que texto que tem que tirar? @thalitasejanes e @cabelotaina, podem explicar e mandar um print pra mim? eu tiro

[2017-02-16 13:50] thalitasejanes commented on #60
eu nao entendi que textos tb.

[2017-02-16 13:58] rodineicosta commented on #57
@anapaulabrasa não fechei ainda porque necessito da ajuda do @cabelotaina para que a página funcione corretamente.

[2017-02-16 14:00] rodineicosta commented on #60
@anapaulabrasa e @thalitasejanes, continuo sugerindo ocultar o conteúdo do post via CSS. Pois, mesmo que apague hoje, no futuro podem escrever. Daí, estando o elemento oculto, como está no momento, não correremos esse risco.

[2017-02-16 14:01] thalitasejanes commented on #60
mas onde que esta isso, do que estamos falando?

[2017-02-16 14:01] rodineicosta commented on #60
Nos posts das revistas.

[2017-02-16 14:02] thalitasejanes commented on #60
manda o linque @rodineicosta

[2017-02-16 14:03] rodineicosta commented on #60
Acredito que seja isso que o @cabelotaina esteja mencionando: [http://aspta.beta.redelivre.org.br/article/testando-artigo-1/](url)

[2017-02-16 14:07] thalitasejanes commented on #60
a issue se refere ao historico, vc esta passando um linque do novo plugin, acho que nao eh isso, precisamos da resposta do @cabelotaina

se não vai confundir

[2017-02-16 14:08] rodineicosta commented on #60
E não é esse o plugin que gerará os números anteriores da revista? Em todo caso, aguardemos a resposta do @cabelotaina. ;-)

[2017-02-16 14:12] anapaulabrasa commented on #62
o ruim é que deu uma aumentada nervosa nesse box, né =/ veja a imagem ali embaixo

alguma sugestão, @thalitasejanes?

Acho que:
1º - a gente tinha que se esforçar pra manter um alinhamento dos três elementos (textos de programas; e vídeo e revista) nem que eles tenham que dar uma diminuida.
2º acho que teria que colocar uma altura máxima nesse box, pra ele não esticar independente do conteúdo (mas

[2017-02-16 14:14] anapaulabrasa commented on #62
Talvez também transformar em botão esse "Assista aos vídeos da AS-PTA", e aí colocar abaixo do vídeo, daria uma ajuda, linkando para a página do youtube deles

[2017-02-16 14:16] rodineicosta commented on #62
Falta aparecer um dos três programas do lado esquerdo. Quando inseri o botão, reduzi o tamanho da revista, para que ficasse como estava. O vazio que percebo existir é na parte do vídeo. Por isso, anteriormente, eu propus um layout diferente para que o vídeo pudesse ocupar uma largura maior e consequentemente altura também. A ideia do botão pro vídeo é uma boa. Mas, ainda assim, removeria o texto d

[2017-02-16 14:31] anapaulabrasa commented on #62
Verdade, falta um dos programas... Tá faltando o que pra ele entrar, uma descrição?

[2017-02-16 14:33] rodineicosta commented on #62
Nesse caso, só o @cabelotaina pode nos dizer.

[2017-02-19 22:22] #61 closed, assigned to cabelotaina

[2017-02-19 22:25] cabelotaina commented on #60
Os conteudos possuem um link para baixar um pdf. Qual seria a tarefa neste caso? Nenhuma apenas deixamos como esta? Como tem que ficar a página?

[2017-02-19 22:48] cabelotaina commented on #63
Olá ate o presente momento eu não fui adicionado como admin na página da aspta no facebook. @anapaulabrasa veja com a Adriana se ela pode ver o que aconteceu.

[2017-02-19 22:49] cabelotaina commented on #58
Olá fiz a correção mas o plugin do contribua não esta sincado com o beta por meio do jenkins, temos que esperar que o @jacsonp sinc ele por lá ou coloque ele para funcionar e ver se o problema se resolve.

[2017-02-20 12:28] cabelotaina commented on #55
Para quais páginas exatamente?

[2017-02-20 15:18] cabelotaina commented on #54
@rodineicosta eu comentei isso:

Que esta em templates/footer.php e o problema acabou. Pois estava sendo chamado duas vezes. Tem ideia do motivo?

[2017-02-20 15:20] cabelotaina commented on #54
Fechando com uma resalva mas o problema esta resolvido.

[2017-02-20 15:20] #54 closed, assigned to cabelotaina

[2017-02-20 16:02] anapaulabrasa commented on #55
@cabelotaina
Compartilhando aqui as páginas de Programas e de Campanha que devem apresentar o widget lateral de posts recentes específicos.

PROGRAMAS - págs que devem conter o widget "Últimas deste Programa":

- [Programa Paraíba](http://aspta.beta.redelivre.org.br/programa-paraiba)
- [Programa de Agricultura Urbana](http://aspta.beta.redelivre.org.br/programa-de-agricultura-urbana)
- [Programa d

[2017-02-20 16:30] cabelotaina commented on #58
Pronto o erro não existe mais!!!!! ahhhhhhhh

[2017-02-20 16:30] #58 closed, assigned to cabelotaina, jacsonp

[2017-02-20 16:44] cabelotaina commented on #63
O plugin esta instalado. Temos o acesso a página da ASPTA, falta instalar as dependencias do plugin como em https://github.com/Automattic/facebook-instant-articles-wp#installation

[2017-02-20 16:45] cabelotaina commented on #57
Vou ver o que acontece com essa página em breve.

[2017-02-20 16:55] anapaulabrasa commented on #55
@cabelotaina

percebi que para os programas estão utilizando a categoria Notícias mesmo, mas a categoria está atribuida a cada programa, por exemplo http://aspta.beta.redelivre.org.br/category/noticias/?programas=programa-de-agricultura-urbana

então acho que no caso dos programas não é necessário criar categoria, certo?

[2017-02-20 17:32] anapaulabrasa commented on #58
E nem a página, @cabelotaina! haha
Veja http://aspta.beta.redelivre.org.br/temas-de-intervencao/transgenicos/

[2017-02-20 17:35] cabelotaina commented on #58
Esse tema nunca teve nenhum post. Acho que ele é novo @anupamas

[2017-02-20 17:36] anapaulabrasa commented on #58
entendi.

[2017-02-20 17:37] anapaulabrasa commented on #60
gente, tá confuso isto... @thalitasejanes não será o caso de fazermos uma conversa rápida com o @cabelotaina  pra pra vc explicar pra gente exatamente qual foi a solicitação?

[2017-02-20 17:58] thalitasejanes commented on #60
Pessoal, eu verifiquei é uma anotação sobre o **historico de revistas** que estão no formato anterior (nao o plugin issueM), vamos colocar as miniaturas das capas e para baixar o pdf, nao sei se no formato post ou fazer uma pagina mesmo.

Numeros anteriores será gerado com o plugin IssueM

[2017-02-21 13:45] cabelotaina commented on #63
enviei para revisao do facebook o estilo.

[2017-02-21 13:45] #63 closed, assigned to nobody

[2017-02-22 16:13] #55 closed, assigned to cabelotaina

[2017-02-23 13:02] cabelotaina commented on #60
Legal @thalitasejanes e onde o usuário vai encontrar isso, no menu do topo? no rodapé? Em que lugar?

[2017-02-23 17:02] rodineicosta commented on #60
Não seria no submenu interno da Revista?

[2017-02-23 18:57] thalitasejanes commented on #60
@anapaulabrasa @cabelotaina @rodineicosta

Como a revista vai mudar de formato a partir de agora - utilizando o plugin issueM -, tinhamos ficado de aprovar com a Adriana como seriam mostradas as revistas anteriores ao plugin (que atualmente são mostradas com o Issu [veja aqui](http://aspta.org.br/revista-agriculturas/).

a Adriana aprovou a ideia de colocar as capas da revista num pdf simples e sa

[2017-02-24 09:39] cabelotaina commented on #60
Qual das duas formas você acha que fica melhor?

[2017-02-24 15:52] thalitasejanes commented on #60
nós propusemos pdf e a cliente aprovou, eu acho que essa é melhor que o ISSU com certeza.

[2017-03-24 11:37] thalitasejanes commented on #60
Gente eu fiz um esquema da demanda aqui
![revista-edicoes-anteiores](https://cloud.githubusercontent.com/assets/4115304/24292707/403914a2-106d-11e7-8a93-c0552b470a23.png)

[2017-03-24 11:39] thalitasejanes commented on #60
o grande desafio de deixar na mesma lista é que as cadastradas como historico deve estar antes das revistas geradas pelo plugin, mas caso seja necessário abrimos a aba historico

[2017-04-07 19:10] cabelotaina commented on #60
Acho que rola de colocar a area gerada automaticamente pelo plugin usando shortcodes:

https://zeen101.com/documentation/shortcodes/

[2017-04-08 14:50] cabelotaina opened #65 "ShortCode [issuem_articles] não funciona"
Olá pessoal, estou tendo um problema com o shortcode [issuem_articles], ele simplesmente não lista nenhum article, e atualmente possuimos 2 articles. Uma possivel solução pode ser atualizar o plugin issueM para ver se pode ser um bug que já tenha sido corrigido caso contrario vamos ter que corrigir esse bug. Pedi ao @jacsonp em privado para ver essa possibilidade.

Ainda pode ser que não seja um b

[2017-04-08 15:10] cabelotaina commented on #65
Dei uma olhada para ver se por acaso elas não estariam em draft mas ambas estão publicadas.

[2017-04-08 15:18] cabelotaina commented on #65
Ao baixar a versão do issueM do repositorio no github me sai um erro:

<img width="782" alt="imagen" src="https://cloud.githubusercontent.com/assets/1827173/24830079/3876d6b6-1c55-11e7-9d12-6d2b1957e0e7.png">

https://github.com/zeen101/issuem

[2017-04-11 12:18] cabelotaina commented on #65
Estou tentando contornar esse problema analisando o código do plugin.

[2017-04-11 19:11] cabelotaina commented on #65
Dado que o problema foi resolvido essa issue não tem motivo de existir.

[2017-04-11 19:11] #65 closed, assigned to cabelotaina, anapaulabrasa, jacsonp, thalitasejanes

[2017-04-11 19:14] cabelotaina commented on #57
Olá notei que existe apenas 1 template que da acesso a essa página ./templates/transgenics_campaign.php dado que não existe outro acredito que as coisas estão corretas. Sendo assim vou fechar essa issue.

[2017-04-11 19:15] #57 closed, assigned to cabelotaina

[2017-04-11 19:15] cabelotaina commented on #60
No momento temos apenas essa issue. É Isso mesmo?

[2017-07-31 21:53] #60 closed, assigned to rodineicosta

[2017-08-29 02:07] jpmehl opened #66 "SUBMENU Revista ASPTA"
O Sub-menu da lateral direita na página da "[Revista Agriculturas](http://aspta.redelivre.org.br/revista-atual/)¨ deve permanecer quando clicamos nas páginas internas, de modo que o usuário possa continuar navegando
![revistaaspta](https://user-images.githubusercontent.com/4163139/29801362-8e818a96-8c45-11e7-975f-5ea549d17d8e.png)

[2017-08-29 02:09] jpmehl opened #67 "Widget Revista ASPTA"
Tanto na capa quanto nas internas, o widget da Revista ASPTA não está funcionando, aparece um image not found:

![widget-revista-aspta](https://user-images.githubusercontent.com/4163139/29801409-d89aacb6-8c45-11e7-9835-9adeb33f8c27.png)

[2017-08-29 02:11] jpmehl opened #68 "Programas locais na capa"
Os programas locais na capa não estão aparecendo:

![programas-locais-aspta](https://user-images.githubusercontent.com/4163139/29801438-fff179e8-8c45-11e7-9487-4579662e245a.png)

[2017-08-29 02:13] jpmehl opened #69 "Equipe executiva e-mails errados"
Não sei por qual motivo que na página equipe executiva, o e-mail aparece o beta.ethymos....:
http://aspta.redelivre.org.br/quem-somos/equipes-de-trabalho/

![equipe-executiva-aspta](https://user-images.githubusercontent.com/4163139/29801500-52eaf7aa-8c46-11e7-920c-0f8e3570f37a.png)

[2017-08-29 02:14] jpmehl opened #70 "Pägina quem somos"
Não sei a que pé anda a importação, mas na página do QUem Somos, nenhuma documentação foi importada: http://aspta.org.br/quem-somos/

[2017-08-29 02:15] cabelotaina commented on #67
A parte de insercao do conteudo da nova Revista penso que tenha que ser inserida pelo pessoal da ASPTA, nao seriamos nos que vamos produzir o conteudo que esta vigente, podemos colocar a ultima revista mas eles de todas as  formas precisam nos passar esses dados para nos.

[2017-08-29 02:17] cabelotaina commented on #70
Complementei com os enderecos que estavam faltando
http://aspta.redelivre.org.br/quem-somos/

[2017-08-29 02:23] jpmehl opened #71 "Revista ASPTA: Acesso a antiga"
Aqui na revista, em uma rápida navegada já percebi que tem coisa pra arrumar...

No site antigo, uma revista aparece com o filtro de quais conteúdos existem internamente na revista: http://aspta.org.br/revista/v6-n4-mulheres-construindo-a-agroecologia/

No site novo, só aparece o Issu da revista completa, sem a ramificação http://aspta.redelivre.org.br/revista/v6-n4-mulheres-construindo-a-agroecol

[2017-08-29 02:24] cabelotaina commented on #66
Inseri nas paginas que possuem widgets

[2017-08-29 02:25] jpmehl commented on #67
Sim, mas esta issue eu criei só pra apresentar o problema do widget. Sobre a revista e seu funcionamento, criei outra issue.

[2017-08-29 02:31] jpmehl commented on #70
Este são os endereços, mas os documentos não foram importados:
http://aspta.redelivre.org.br/quem-somos/planos-trienais/
http://aspta.redelivre.org.br/quem-somos/relatorios-de-atividades/
http://aspta.redelivre.org.br/quem-somos/estatutos-e-atas/
http://aspta.redelivre.org.br/quem-somos/balanco-patrimonial/

[2017-08-29 02:32] cabelotaina commented on #71
Na verdade foi importada essa info, mas nao foi colocada pois vc eh a primeira pessoa que viu isso, durante todo projeto nenhum de nos vimos que isso acontecia sorry, bom mas a boa noticia eh que a informacao de quais os artigos pertecem a essa revista esta codificada na forma de artigos filhos esse artigo ai eh a mae de varios outros artigos, como neste caso abaixo:

<img width="678" alt="imagen"

[2017-08-29 02:34] jpmehl commented on #66
Mas isto gerou um problema:

Agora este widget de menu aparece encima na página do QUEM SOMOS e aparece quebrado na página Campanha Transgênicos: http://aspta.redelivre.org.br/campanha-trangenicos/

Minha sugestão aqui é de apenas aparecer nas sub-paginas da Revista Agriculturas:
    Sobre a Revista
    Números Anteriores
    Próximas Chamadas
    Submeter Artigo
    Assine

[2017-08-29 02:36] cabelotaina commented on #69
Pronto corrigido -> http://aspta.redelivre.org.br/quem-somos/equipes-de-trabalho/

Acredito que isso tenha a ver com uma funcao que normalmente usamos para alterar as urls internas quando eh feita a migracao de um site para outro dominio, mas eh apenas um chute, como isso eh passado no banco ele deve ter alterado isso ja que devia estar batendo com a url buscada, olha so no que deu.

[2017-08-29 02:36] #69 closed, assigned to nobody

[2017-08-29 02:38] cabelotaina commented on #70
Eu estava falando destes enderecos aqui

<img width="304" alt="imagen" src="https://user-images.githubusercontent.com/1827173/29802140-e0929060-8c49-11e7-9ca9-2cd8328753db.png">

Nao destes de cima, esses nem tinha visto...

[2017-08-29 02:45] cabelotaina commented on #70
Fiz balanco patrimonial:
http://aspta.redelivre.org.br/quem-somos/balanco-patrimonial/

[2017-08-29 02:48] cabelotaina commented on #70
Feito: http://aspta.redelivre.org.br/quem-somos/relatorios-de-atividades/

[2017-08-29 02:52] cabelotaina commented on #70
feito http://aspta.redelivre.org.br/quem-somos/estatutos-e-atas/

[2017-08-29 02:52] jacsonp commented on #70
![image](https://user-images.githubusercontent.com/3977652/29802499-e78794cc-8c4b-11e7-9719-4c7d31c6a133.png)
sidebar dessa área está correta?

[2017-08-29 02:54] cabelotaina commented on #70
feito: http://aspta.redelivre.org.br/quem-somos/planos-trienais/

[2017-08-29 02:56] cabelotaina commented on #70
Poxa isso nao sei dizer jack, mas acho o revista pelo que estou entendendo deve aparecer em todo o site. Eh isso, quando a imagem isso temos que ver com o cliente pois nao sabemos em que pe esta a revista e precisamos que o tive de design da revista entre full no site, assim podemos saber como ajudar. Se nao corremos o risco de tentar fazer o esse papel de colocar a revista no site e nao sabemos f

[2017-08-29 02:57] cabelotaina commented on #70
Vou fechar considerando que o tema da issue foi coberto, jack abra essa issue da sua pergunta mnovamente. tks

[2017-08-29 02:58] #70 closed, assigned to nobody

[2017-08-29 03:00] cabelotaina commented on #67
Ah ta eh o seguinte a imagem aparece assim pois nao colocamos nenhuma revista, ja que nao fizemos uma sincronizacao com a aspta de qual revista deviamos colocar (principiantes), mas neste caso podemos ver com eles essas infos, vc consegue facilitar esse processo?

[2017-08-29 03:02] cabelotaina commented on #66
Certo, vou tirar, mas coloquei porque ententi "páginas internas" como todas as paginas menos a home.

[2017-08-29 03:04] jacsonp commented on #70
não precisa, o bug que reportei nessa issue é duplicação do #67, confirmei com testes

[2017-08-29 03:05] cabelotaina commented on #66
Certo defiz isso vou como colocar o widget nas paginas

[2017-08-29 03:13] cabelotaina commented on #66
A pagina assine usa o template do mobilize, se colocamos o template da revista o mobilize nao funciona por isso neste caso teria que codar algo, nao eh um problema de configuracao, por isso vou fechar aqui e abrir uma nova somente para isso,

Ja modifiquei de todas as outras.

[2017-08-29 03:13] #66 closed, assigned to nobody

[2017-08-29 03:15] cabelotaina opened #72 "Menu da Revista na pagina Apoie"
Colocar na pagina apoeie o menu da revista:

http://aspta.redelivre.org.br/revista-agriculturas/mobilize/

[2017-08-29 03:23] cabelotaina commented on #67
Bom coloquei la para exemplo, por algum motivo depois da importacao estava com zero artigos e sem imagem, apenas coloquei uma imagem e vinculei artigos e ai esta:

<img width="528" alt="imagen" src="https://user-images.githubusercontent.com/1827173/29803121-229c26c8-8c50-11e7-8d10-396a9a17723a.png">

<img width="424" alt="imagen" src="https://user-images.githubusercontent.com/1827173/29803130-3055

[2017-08-29 03:23] #67 closed, assigned to nobody

[2017-08-29 03:35] cabelotaina commented on #68
Salve aqui eh o seguinte os programas nao foram importados:

<img width="836" alt="imagen" src="https://user-images.githubusercontent.com/1827173/29803391-cba29ac6-8c51-11e7-881b-487f85e2bd82.png">

<img width="845" alt="imagen" src="https://user-images.githubusercontent.com/1827173/29803394-d778b83a-8c51-11e7-8d30-6a6a00244856.png">

http://aspta.redelivre.org.br/wp-admin/edit-tags.php?taxonomy=p

[2017-08-29 12:04] jpmehl commented on #72
Aqui só precisa colocar o sistema de doação do MOIP: http://aspta.org.br/revista-agriculturas/mobilize/

[2017-08-29 15:17] jacsonp opened #73 "Limitar tamanho da imagem do slider"
Fazer o crop (max-height) da imagem no slider para evitar que isso aconteça:
![image](https://user-images.githubusercontent.com/3977652/29828712-ed349fba-8cb3-11e7-8c25-33fae0f408fd.png)

[2017-08-29 15:24] rodineicosta commented on #73
Questão já resolvida na Issue #39.

[2017-08-29 15:28] jacsonp commented on #73
Não é a mesma issue, na #39 fala de imagem distorcida, aqui estou falando da área distorcida, está comendo o título da notícia, falo para forçar um max-height para a área, pode ser que também rola o wontfix para essa issue

[2017-08-29 15:32] rodineicosta commented on #73
Aqui, aparece normal.

![image](https://user-images.githubusercontent.com/15682777/29829505-fecbd66a-8cb5-11e7-8f47-90ab52f9c4eb.png)

[2017-08-29 15:41] jacsonp commented on #73
Agora para mim ficou normal também, vou fechar, se voltar a ficar estranho reabro

[2017-08-29 15:41] #73 closed, assigned to nobody

[2017-08-31 17:56] jpmehl opened #74 "Titulo é cortado em determinada resolução da capa"
Isto Windows 10, no Firefox conforme print

![image001](https://user-images.githubusercontent.com/4163139/29937587-7c0e608c-8e5c-11e7-97b9-dbc7150d1515.png)

[2017-08-31 18:01] jpmehl opened #75 "Vídeo da capa está cortado"
Conforme anexo, o vídeo da capa está cortado.

![video-aspta-capa](https://user-images.githubusercontent.com/4163139/29937859-496bda78-8e5d-11e7-86aa-16808a6aabe5.png)

[2017-08-31 18:06] jpmehl opened #76 "Compartilhamento com whatsapp"
Precisa colocar o compartilhamento via whatsapp, é uma demanda antiga já.  ver anexo

![compartilhamento-whatsapp](https://user-images.githubusercontent.com/4163139/29938083-f16f2220-8e5d-11e7-8b89-7cf43abccb0d.png)

[2017-08-31 18:07] rodineicosta commented on #74
Windows 10, no Firefox:
![image](https://user-images.githubusercontent.com/15682777/29938130-1e7de238-8e5e-11e7-9d45-5b9282cba43b.png)

[2017-08-31 18:09] jpmehl opened #77 "Menu tem que ter a página de PROGRAMAS"
A página de programas precisa estar no MENU, e a página interna tem que ter os três programas.

[2017-08-31 18:12] rodineicosta commented on #75
O tamanho do vídeo é definido no _iframe_ que está com as dimensões de 360x320. Mas, por algum motivo o vídeo está sendo exibido nas dimensões 360x150. Vou investigar. Eu tinha comentado anteriormente que as proporções do vídeo nessa área não ficariam perfeitas, deixando espaços vazios em relação as colunas ao lado.

[2017-08-31 18:12] jacsonp commented on #74
então esta intermitente, também tive esse problema, e depois funcionou (chromium/ubuntu), conforme issue #73

[2017-08-31 18:25] rodineicosta commented on #76
Só é exibido o botão de compartilhamento para WhatsApp em resolução mobile:
![image](https://user-images.githubusercontent.com/15682777/29938913-9e668f3e-8e60-11e7-8b2b-3e48c52d2ba6.png)

[2017-08-31 18:28] rodineicosta commented on #77
Se entrar mais um item no menu, o mesmo ficará desproporcional. A não ser que se exclua um em substituição (ex.: Assine o Feed).

[2017-08-31 18:29] cabelotaina commented on #76
pois se nao esta em celular o compatilhamento nao funciona

[2017-08-31 18:31] cabelotaina commented on #72
@jacsonp se ja fez isso alguma vez?

Se puder dar uma idea de como eh isso. Nao conheco esse sistema.

[2017-08-31 18:32] jacsonp commented on #72
é o plugin contribua, tem que ativa-lo e configurar

[2017-08-31 22:56] cabelotaina commented on #72
Esta ativo falta ainda importar as imagens do sistema de mansagem

[2017-09-12 03:12] jpmehl opened #78 "Página Programas precisa ser criada"
A página programas não foi criada, portanto, devemo criá-la e colocar os 3 programas da ASPTA:

Programa de Agricultura Urbana
Programa do Contestado
Programa Paraíba

[2017-09-12 03:17] jpmehl opened #79 "Tamanho de imagens dentro do post"
De forma geral, sempre surge a reclamação de que as fotos estão cortadas ou desalinhadas. Quase sempre isto diz respeito a padronização de fotos.

NO arquivo apresentado pela Adriana ela apresenta dois casos que dizem respeito a imagens de detaque dentro de uma notícias:
http://aspta.redelivre.org.br/2015/12/14/agroecologia-os-desafios-economicos-sociais-e-ambientais-da-agricultura-familiar/ e htt

[2017-09-12 03:18] jpmehl commented on #75
Alguma novidade?

[2017-09-12 03:19] jpmehl commented on #68
Algum avanço aqui?

[2017-09-12 03:21] jpmehl opened #80 "Página Transgênicos em temas de intervenção vazia"
Página com problema: http://aspta.redelivre.org.br/temas-de-intervencao/transgenicos/

[2017-09-12 03:24] jpmehl opened #81 "Imagens no resultado de busca da biblioteca"
Similar a Issue que trata de imagem no post ( #79 ), mas neste caso é no resultado da bilbioteca.

A pergunta é a mesma, qual o padrào? como fazer para ter o controle sobre isto?

[2017-09-12 03:25] jpmehl opened #82 "Fazer pesquisa pelo Tema (biblioteca revistas antigas)"
Posso fazer uma pesquisa na revista pelo tema? Poderíamos por exemplo acrescentar no campo Tipos de Materiais. Pois na pesquisa que fiz, não voltou nenhum artigo da revista.

[2017-09-12 03:27] jpmehl commented on #71
Alguma novidade?

tem também o linque da pŕopria página da revista que não aparece nada: http://aspta.redelivre.org.br/numeros-anteriores/

[2017-09-12 03:28] jpmehl commented on #71
Outras dúvidas sobre a revista:

Dúvidas:
- importante ter um local para baixar o pdf de toda a revista
- Como baixar pdf por artigos na parte dos números anteriores?
- Posso anexar outro documento sem ser pdf na seção Submeter artigo? (.doc por exemplo)
- Posso trocar a revista eletrônica quando atualizar o número na

[2017-09-12 11:22] cabelotaina commented on #71
Correcao, o @rodineicosta ja implementou essa pagina e aparece aqui:

http://aspta.beta.redelivre.org.br/revista-atual/

tenho que checar se isso eh um problema apenas de configuracao, pois nao temos revistas. ou se eh um bug.

http://aspta.redelivre.org.br/numeros-anteriores/

Vamos as perguntas:
- importante ter um local para baixar o pdf de toda a revista
quando se clica no link vc eh redirecio

[2017-09-12 11:55] cabelotaina commented on #71
Coloquei os artigos relacionados, por enquanto aparece apenas no beta:

http://aspta.beta.redelivre.org.br/revista/numero-especial-agroecologia-politica-na-rio20/

Vou fazer pull para colocar em producao.

[2017-09-12 12:06] cabelotaina commented on #82
Bom pensando bem se for desta tela que estamos falando:

<img width="411" alt="imagen" src="https://user-images.githubusercontent.com/1827173/30325463-3e3e2f06-979b-11e7-8f9c-d77c117c74e8.png">

Nos temos os temas de intervencao para selecionar.

Mas nao indexamos os temas para pesquisa.

Exemplo de pesquisa com os temas:

http://aspta.redelivre.org.br/biblioteca-lista/?theme%5B%5D=222&theme%5B%5D

[2017-09-12 12:23] cabelotaina commented on #80
@thalitasejanes confirma se isso eh uma pagina nova ou se ela ja existia, lembro que vc me disse uma vez que tal coisa eh nova.

[2017-09-12 12:45] cabelotaina commented on #78
http://aspta.redelivre.org.br/programas/

@rodineicosta coloquei as informacoes, vc pode por favor dar uma refinada no conteudo.

[2017-09-12 12:48] cabelotaina commented on #76
Estou fechando a issue por conta da resposta ser satisfatoria em minha visao.

[2017-09-12 12:50] cabelotaina commented on #74
Humm e agora como fica isso... fechamos como resolve?

[2017-09-12 13:30] cabelotaina commented on #68
Mandei mensagem para o jack para saber se ele pode ver o que aconteceu com a importacao das taxonomias.

[2017-09-12 21:49] jacsonp commented on #68
Feito, foi preciso 6 horas de trabalho aproximadamente, com por exemplo o desenvolvimento de um plugin para o wp-cli
https://github.com/jacsonp/wp_cli_countfix
![image](https://user-images.githubusercontent.com/3977652/30349810-b58194e6-97ea-11e7-9320-9de4d3b6680d.png)
Porem, aparentemente isso não resolveu o problema

[2017-09-12 23:26] cabelotaina commented on #68
<img width="423" alt="imagen" src="https://user-images.githubusercontent.com/1827173/30352813-8a9ac9b0-97f8-11e7-9fc5-ddc68a2e4c4b.png">
perfect @jacsonp! tu eh o cara.

fechando!

[2017-09-12 23:26] #68 closed, assigned to jacsonp

[2017-09-12 23:28] cabelotaina commented on #75
Olhei agora a home e o video esta ok, acho que o conteudo de programas locais nao estar presente pode ter causado o problema.

<img width="1232" alt="imagen" src="https://user-images.githubusercontent.com/1827173/30352848-c729a2de-97f8-11e7-8d01-94669429d0ab.png">

Acredito que neste caso podemos fechar essa issue. Vou fechar ela @jpmehl se achar pertinente reabre ela aqui.

[2017-09-12 23:28] #75 closed, assigned to jpmehl, rodineicosta

[2017-09-12 23:33] cabelotaina commented on #80
Serguinte de fato a pagina nao deve existir como a @thalitasejanes explica nessa issue #43:

<img width="794" alt="imagen" src="https://user-images.githubusercontent.com/1827173/30352961-952dad92-97f9-11e7-9416-b1e83951f7f1.png">

[2017-09-12 23:33] #80 closed, assigned to thalitasejanes, jpmehl

[2017-09-13 00:42] jpmehl commented on #77
Eu já fiz isto, tá resolvido.

[2017-09-13 00:42] #77 closed, assigned to jpmehl, rodineicosta

[2017-09-13 00:44] jpmehl commented on #74
Faremos monitoramento então, até lá deixemos aberta.

[2017-09-13 00:52] jpmehl commented on #82
Bom, pelo que percebi @cabelotaina, já temos os temas listados, no entanto, no resultado, não aparece de forma explícita, isto é, quando entramos em uma notícia, ela não diz no final de qual tema de intervenção ela tem relação, certo? Neste caso o trabalho é de quem faz a notícia...
Mas aqui percebi que a falha está no resultado da busca sempre aparece em primeiro lugar o mesmo resultado "V11, N2

[2017-09-13 00:53] jpmehl opened #83 "Resultado da busca em biblioteca está travado"
Atualmente, todos os resultados de busca no linque (http://aspta.redelivre.org.br/biblioteca-lista/?article_title=&_author=&edition=&_year=&program%5B%5D=158)  estão apresentando em primeiro lugar, mas sem linque, o seguinte título "V11, N2 – Agroecologia e a superação da pobreza"

[2017-09-13 00:58] cabelotaina commented on #83
Depois vou ver isso. Fica com isso la em cima mesmo - V11, N2 – Agroecologia e a superação da pobreza - mas a busca ela funciona aparentemente. Teria que fazer uma bateria de testes. Mas eu cheguei a fazer na epoca

[2017-09-13 00:59] jpmehl commented on #80
@cabelotaina a mensagem da thalita diz que a página deve existir sim, leia novamente ;)

[2017-09-13 01:01] cabelotaina commented on #80
Sim, eu entendi o mesmo que vc, mas ela diz que ela deve ser inserida, mas ela nao possui conteudo por isso nao aparece nada. Ou seja nao existe conteudo. So me expressei mau. rs

[2017-09-23 00:59] rodineicosta commented on #79
Proporção de imagens sugerida na Issue #39.

[2017-09-23 01:00] rodineicosta commented on #81
Proporção de imagens sugerida na Issue #39.

[2017-09-23 01:03] rodineicosta commented on #78
@cabelotaina me recordo de ter feito o CSS dessa página. Por algum motivo bugou. Vou rever nos meus códigos, senão vou refazer.

[2017-09-27 17:19] jpmehl commented on #81
Para slider de capa (1140x550) ou maiores (1280x960).

[2018-12-13 18:59] jacsonp opened #84 "possibilidade de impressão"

[2018-12-13 19:02] jacsonp opened #85 "ajustes na página dos temas de intervenção"
- [ ] Localizar Layouts
- [ ] Consultar Aspta sobre quais são os problema que necessitam de ajustes

[2018-12-13 19:05] jacsonp commented on #76
Aspta continua reclamando do problema.
- [ ] Checar funcionamento
- [ ] Resoluções para tablets e celulares com resoluções maiores

[2018-12-13 19:06] jacsonp opened #86 "Verificar Imagens e formatos de redimensionamentos"
Segundo a Aspta: "O site fica bem feio pra gente, sabe? A foto grande, pixelada, recortada. É uma pergunta da coordenação, sempre vai ficar assim? Pessoalmente, também aparece bem estranho pra mim"

[2018-12-13 19:08] jacsonp opened #87 "Percebemos é que tinha um layout para celular e que ele não está funcionando"
- [ ] Localizar layout mencionado
- [ ] Testar formato em celular

[2018-12-13 19:11] jacsonp opened #88 "Modificações no menu"
Solicitação: "No menu, pensou-se em transformar o botão campanha dos transgênicos só no tema mobilizador, colocar um botão para o método LUME que será o novo foco de atenção da instituição"

[2018-12-13 19:14] jacsonp opened #89 "Alguns pequenos ajustes ao novo projeto"
- [x] Acrescentar o Instagram às redes sociais da AS-PTA
- [ ] Alterar Programa Contestado para Programa Paraná
- [ ] Precisamos arrumar os textos da página inicial dos Programas
- [ ] Na página Temas Mobilizadores, separar Infância de Juventude, criando dois botões
- [ ] Como faremos com as importações que vieram (ou vier) sem fotos
- [ ] Colocar opção de compartilhar em WhatsApp
- [ ] Permanece

[2019-02-10 19:42] rodineicosta commented on #86
Questão já resolvida na Issue #39.